# Laboratory 1
- Author: Rob

# Imports

#### Python libraries

In [1]:
import sys

import pandas as pd

import re

import unicodedata

#### Acillary modules

In [14]:
%load_ext autoreload
%autoreload 2

from utils.lab1_funcs import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Loading data

Data downloaded from -> https://datos.cdmx.gob.mx/explore/dataset/consumo-agua/export/

In [4]:
df = pd.read_csv("data/consumo-agua.csv")

In [5]:
df

,Geo Point,Geo Shape,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des
0,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.240000,631.00,42.066667,3.050000,3,3.05,57250,ALTO
1,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,115.13,28.782500,7.320000,3,7.32,57253,MEDIO
2,"19.4557195871,-99.1135822797","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,197.96,32.993333,75.030000,3,75.03,57255,POPULAR
3,"19.4596467168,-99.1044693641","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.000000,253.53,84.510000,84.510000,3,253.53,57267,BAJO
4,"19.4741606185,-99.1467497317","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.720000,839.35,76.304545,121.570000,3,243.14,57330,BAJO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,"19.4500791776,-99.1444346928","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",359.88,2019,Cuauhtémoc,282.152488,1128.61,CUAUHTEMOC,GUERRERO,179.940002,1509.15,167.683328,6.886667,1,20.66,236,BAJO
71098,"19.4482098669,-99.1448511226","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",401.32,2019,Cuauhtémoc,25.021442,2777.38,CUAUHTEMOC,GUERRERO,100.330000,3318.63,27.426694,23.321667,1,139.93,240,BAJO
71099,"19.4478256923,-99.1438192391","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",142.25,2019,Cuauhtémoc,27.043654,1406.27,CUAUHTEMOC,GUERRERO,28.450001,1586.61,25.590484,7.618000,1,38.09,241,POPULAR
71100,"19.4481867455,-99.1423923136","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",31.42,2019,Cuauhtémoc,18.601529,3162.26,CUAUHTEMOC,GUERRERO,15.710001,3250.39,18.260618,9.451667,1,56.71,243,BAJO
71101,"19.4476825269,-99.1411930304","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",976.12,2019,Cuauhtémoc,23.949699,8765.60,CUAUHTEMOC,GUERRERO,162.686669,9858.46,26.011741,16.677143,1,116.74,246,BAJO

# Data profiling

## ¿Cuántas variables tenemos?

In [6]:
count_vars(df)

Número de variables en los datos --> 17

## ¿Cuántas observaciones tenemos?

In [7]:
count_obs(df)

Número de observaciones en los datos --> 71102

## ¿Cuántas observaciones únicas tenemos por variable?

In [8]:
count_unique_obs(df)

Geo Point               22930
Geo Shape               22922
consumo_total_mixto     24339
anio                        1
nomgeo                     17
consumo_prom_dom        52060
consumo_total_dom       47051
alcaldia                   16
colonia                  1340
consumo_prom_mixto      31911
consumo_total           56015
consumo_prom            62214
consumo_prom_no_dom     37440
bimestre                    3
consumo_total_no_dom    27336
gid                     71102
indice_des                  4
dtype: int64

## ¿Cuántas variables numéricas tenemos?

Tenemos 8 variables numéricas

In [9]:
vars_num = [
    "consumo_total_mixto",
    "consumo_prom_dom",
    "consumo_total_dom",
    "consumo_prom_mixto",
    "consumo_total",
    "consumo_prom",
    "consumo_prom_no_dom"
]

In [10]:
count_type_vars(vars_num, "numerica")

Número de variables tipo numerica --> 7
Las variables de tipo numerica son:
['consumo_total_mixto', 'consumo_prom_dom', 'consumo_total_dom', 'consumo_prom_mixto', 'consumo_total', 'consumo_prom', 'consumo_prom_no_dom']

7

## ¿Cuántas variables de fecha tenemos?
- Para efectos de este ejercicio, no hay ninguna variable de tipo fecha, o que consideremos de fecha.

## ¿Cuántas variables categóricas tenemos?

In [11]:
cat_vars = [
    "anio",
    "nomgeo",
    "alcaldia",
    "colonia",
    "bimestre",
    "indice_des",
]

In [12]:
count_type_vars(cat_vars, "categórica")

Número de variables tipo categórica --> 6
Las variables de tipo categórica son:
['anio', 'nomgeo', 'alcaldia', 'colonia', 'bimestre', 'indice_des']

6

## ¿Cuántas variables de texto tenemos?
- Para efectos de este ejercicio, no hay ninguna variable de tipo texto, o que consideremos de texto.

## Generea el profiling de cada variable

### Numeric data profiling

- [x] Tipo de dato: float, integer
- [x] Número de observaciones
- [x] Mean
- [x] Desviación estándar
- [x] Cuartiles: 25%, 50%, 75%
- [x] Valor máximo
- [x] Valor mínimo
- [x] Número de observaciones únicos
- [x] Top 5 observaciones repetidas
- [x] Número de observaciones con valores faltantes
- [ ] ¿Hay redondeos?

#### Función para perfil de datos numérico

In [15]:
## Data profiling compacted in function
data_profiling_numeric(df, vars_num)

*********************************
** General description of data **
*********************************

,consumo_total_mixto,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom
dtype,float64,float64,float64,float64,float64,float64,float64
count_unique,24339,52060,47051,31911,56015,62214,37440
missing_v,8327,4820,4820,8327,0,0,0
count,62775,66282,66282,62775,71102,71102,71102
mean,174.36,29.1324,1186.26,50.6362,1695.85,111.217,126.76
std,312.664,64.5659,2771.04,130.409,3555.7,1069.95,1095.82
min,0,0,0,0,0,0,0
25%,0,18.6905,161.635,0,340.952,23.0101,6.27542
50%,79.94,26.4142,604.185,33.4517,896.175,31.6938,19.28
75%,233.32,36.2466,1261.45,61.2165,1808.9,45.4849,54.1869
max,23404.4,7796.41,95060.7,11702.2,119727,89691.8,89691.8

None
---------------------------------------------------------------------------
---------------------------------------------------------------------------



****************************
** Top repeated variables **
****************************

      consumo_total_mixto                     consumo_prom_dom        \
                    value  count part_notnull            value count
top_1                 0.0  17715        28.22             0.00  9861
top_2                36.0     74         0.12             1.22    33
top_3                17.7     61         0.10            14.64    23
top_4                36.6     59         0.09            15.25    22
top_5                18.3     54         0.09            10.98    22

                   consumo_total_dom                    consumo_prom_mixto  \
      part_notnull             value count part_notnull              value
top_1        14.88              0.00  9861        14.88               0.00
top_2         0.05              1.22    37         0.06              36.00
top_3         0.03             10.98    21         0.03              29.28
top_4         0.03             25.62    20         0.03              36.60
top_5         0.03              3.66    20         0.03              23.80

       ...              consumo_total                    consumo_prom        \
       ... part_notnull         value count part_notnull        value count
top_1  ...        28.22          0.00  2451         3.45         0.00  2451
top_2  ...         0.09          3.05    70         0.10         1.22    62
top_3  ...         0.09          1.22    68         0.10         3.05    55
top_4  ...         0.08          3.66    42         0.06         4.27    43
top_5  ...         0.08          6.71    41         0.06         6.71    39

                   consumo_prom_no_dom
      part_notnull               value count part_notnull
top_1         3.45                0.00  8109        11.40
top_2         0.09                1.22   330         0.46
top_3         0.08                1.83   290         0.41
top_4         0.06                3.05   260         0.37
top_5         0.05                4.27   216         0.30

[5 rows x 21 columns]

None
---------------------------------------------------------------------------
---------------------------------------------------------------------------

### Categoric data profiling

**Profiling: Variables categóricas**

- [x] Número de categorías
- [x] Valor de las categorías
- [x] Moda
- [x] Valores faltantes
- [x] Número de observaciones con valores faltantes
- [x] Proporción de observaciones por categoría
- [x] Top 1, top 2, top 3 (moda 1, moda 2, moda 3)
- [x] Faltas de ortografía ?

In [16]:
#data profiling categorical values function
data_profiling_categ(df,cat_vars)

*********************************
Variable Categorica anio
*********************************

Info                        anio
Num_Registros              71102
Num_de_categorias              1
Moda                        2019
Valores_faltantes              0
Top1               [2019, 71102]
Top2                           0
Top3                           0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2019               71102     100.0%

None



*********************************
Variable Categorica nomgeo
*********************************

Info                                   nomgeo
Num_Registros                           71102
Num_de_categorias                          17
Moda                               Iztapalapa
Valores_faltantes                           0
Top1                      [Iztapalapa, 10515]
Top2               [Gustavo A. Madero, 10058]
Top3                       [Cuauhtémoc, 7313]

None
Valores de las categorias y sus proporciones

                        Observaciones proporción
Categoría
Iztapalapa                      10515      14.8%
Gustavo A. Madero               10058      14.1%
Cuauhtémoc                       7313      10.3%
Benito Juárez                    6049       8.5%
Venustiano Carranza              5179       7.3%
Miguel Hidalgo                   5110       7.2%
Coyoacán                         4947       7.0%
Azcapotzalco                     4216       5.9%
Álvaro Obregón                   4140       5.8%
Iztacalco                        3469       4.9%
Xochimilco                       2450       3.4%
Talpan                           2140       3.0%
Tláhuac                          1955       2.7%
Tlalpan                          1064       1.5%
La Magdalena Contreras            955       1.3%
Cuajimalpa de Morelos             892       1.3%
Milpa Alta                        650       0.9%

None



*********************************
Variable Categorica alcaldia
*********************************

Info                                 alcaldia
Num_Registros                           71102
Num_de_categorias                          16
Moda                               IZTAPALAPA
Valores_faltantes                           0
Top1                      [IZTAPALAPA, 10515]
Top2               [GUSTAVO A. MADERO, 10058]
Top3                       [CUAUHTEMOC, 7313]

None
Valores de las categorias y sus proporciones

                     Observaciones proporción
Categoría
IZTAPALAPA                   10515      14.8%
GUSTAVO A. MADERO            10058      14.1%
CUAUHTEMOC                    7313      10.3%
BENITO JUAREZ                 6049       8.5%
VENUSTIANO CARRANZA           5179       7.3%
MIGUEL HIDALGO                5110       7.2%
COYOACAN                      4947       7.0%
AZCAPOTZALCO                  4216       5.9%
ALVARO OBREGON                4140       5.8%
IZTACALCO                     3469       4.9%
TLALPAN                       3204       4.5%
XOCHIMILCO                    2450       3.4%
TLAHUAC                       1955       2.7%
MAGDALENA CONTRERAS            955       1.3%
CUAJIMALPA                     892       1.3%
MILPA ALTA                     650       0.9%

None



*********************************
Variable Categorica colonia
*********************************

Info                                colonia
Num_Registros                         71102
Num_de_categorias                      1340
Moda                                 CENTRO
Valores_faltantes                         0
Top1                         [CENTRO, 1139]
Top2               [AGRICOLA ORIENTAL, 837]
Top3                      [ROMA NORTE, 602]

None
Valores de las categorias y sus proporciones

                      Observaciones proporción
Categoría
CENTRO                         1139       1.6%
AGRICOLA ORIENTAL               837       1.2%
ROMA NORTE                      602       0.8%
MOCTEZUMA 2A SECCION            558       0.8%
JARDIN BALBUENA                 498       0.7%
...                             ...        ...
CALZADA JALALPA                   2       0.0%
HUIZACHITO                        2       0.0%
PIRU SECC. I                      2       0.0%
SANTISIMA TRINIDAD                1       0.0%
U. HAB. NUEVA ROSITA              1       0.0%

[1340 rows x 2 columns]

None



*********************************
Variable Categorica bimestre
*********************************

Info                 bimestre
Num_Registros           71102
Num_de_categorias           3
Moda                        2
Valores_faltantes           0
Top1               [2, 23942]
Top2               [3, 23822]
Top3               [1, 23338]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                  23942      33.7%
3                  23822      33.5%
1                  23338      32.8%

None



*********************************
Variable Categorica indice_des
*********************************

Info                     indice_des
Num_Registros                 71102
Num_de_categorias                 4
Moda                           BAJO
Valores_faltantes                 0
Top1                  [BAJO, 29248]
Top2               [POPULAR, 16539]
Top3                  [ALTO, 15516]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
BAJO               29248      41.1%
POPULAR            16539      23.3%
ALTO               15516      21.8%
MEDIO               9799      13.8%

None

### Additional data profiling

- En este ejercicio particular no se contó con variables del siguiente tipo para hacer el profiling:
    - Imágen
    - Audio

## ¿Qué conocemos ahora de este set de datos por variable?

1. ¿Cuántas alcadías tienes?
    - Hay un total de 16 alcaldías

2. ¿Cuántos `nomgeo` tienes?
    - Hay un total de 17 nomgeo

3. ¿Identificas algún error?
    - Hay una categoría con un error ortográfico

## Transformar el nombre de las columnas a formato estándar: minúsculas, sin espacios en blanco -cambiar por guiónes bajos-, sin signos de puntuación

In [26]:
df_cleancols = clean_col_names(df)

In [27]:
df_cleancols

,geo_point,geo_shape,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des
0,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.240000,631.00,42.066667,3.050000,3,3.05,57250,ALTO
1,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,115.13,28.782500,7.320000,3,7.32,57253,MEDIO
2,"19.4557195871,-99.1135822797","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,197.96,32.993333,75.030000,3,75.03,57255,POPULAR
3,"19.4596467168,-99.1044693641","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.000000,253.53,84.510000,84.510000,3,253.53,57267,BAJO
4,"19.4741606185,-99.1467497317","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.720000,839.35,76.304545,121.570000,3,243.14,57330,BAJO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,"19.4485642979,-99.1399395353","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",NaN,2019,Cuauhtémoc,20.053112,3930.41,CUAUHTEMOC,GUERRERO,NaN,4286.28,19.307568,13.687308,1,355.87,233,BAJO
71098,"19.4493393649,-99.1457191092","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",71.30,2019,Cuauhtémoc,21.126615,9549.24,CUAUHTEMOC,GUERRERO,35.650001,9796.12,20.976702,13.506923,1,175.59,238,POPULAR
71099,"19.4483923147,-99.1459300721","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",759.16,2019,Cuauhtémoc,27.527778,4707.25,CUAUHTEMOC,GUERRERO,94.894999,5692.81,29.344381,15.093334,1,226.40,239,BAJO
71100,"19.4475868325,-99.1425094385","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",402.65,2019,Cuauhtémoc,30.605000,550.89,CUAUHTEMOC,GUERRERO,100.662498,963.15,41.876087,9.610000,1,9.61,244,BAJO
71101,"19.4474017534,-99.1397251034","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",41.20,2019,Cuauhtémoc,22.507710,8552.94,CUAUHTEMOC,GUERRERO,13.733333,9000.07,21.951366,15.034444,1,405.93,247,BAJO

## Transformación de variables geoespaciales
- Agregar la variable `latitud` y `longitud` generadas a partir de la column `geo_point`.
- Pasar la variable `latitud` y `longitud` a numérica -si no la tomó como numérica-.
- Eliminar la columna `geo_point` -una vez que creaste la variable `latitud` y `longitud`.
- Eliminar la columna `geo_shape`.
- Cambiar a minúsculas las columnas `alcaldía`, `colonia` e `indice_des`.

In [34]:
df_geotransform = geo_transformation(df_cleancols, "geo_point", "geo_shape")
df_geotransform

,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des,Latitud,Longitud
0,159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.240000,631.00,42.066667,3.050000,3,3.05,57250,ALTO,19.455260,-99.112662
1,0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,115.13,28.782500,7.320000,3,7.32,57253,MEDIO,19.455260,-99.112662
2,0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,197.96,32.993333,75.030000,3,75.03,57255,POPULAR,19.455720,-99.113582
3,0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.000000,253.53,84.510000,84.510000,3,253.53,57267,BAJO,19.459647,-99.104469
4,56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.720000,839.35,76.304545,121.570000,3,243.14,57330,BAJO,19.474161,-99.146750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,NaN,2019,Cuauhtémoc,20.053112,3930.41,CUAUHTEMOC,GUERRERO,NaN,4286.28,19.307568,13.687308,1,355.87,233,BAJO,19.448564,-99.139940
71098,71.30,2019,Cuauhtémoc,21.126615,9549.24,CUAUHTEMOC,GUERRERO,35.650001,9796.12,20.976702,13.506923,1,175.59,238,POPULAR,19.449339,-99.145719
71099,759.16,2019,Cuauhtémoc,27.527778,4707.25,CUAUHTEMOC,GUERRERO,94.894999,5692.81,29.344381,15.093334,1,226.40,239,BAJO,19.448392,-99.145930
71100,402.65,2019,Cuauhtémoc,30.605000,550.89,CUAUHTEMOC,GUERRERO,100.662498,963.15,41.876087,9.610000,1,9.61,244,BAJO,19.447587,-99.142509
71101,41.20,2019,Cuauhtémoc,22.507710,8552.94,CUAUHTEMOC,GUERRERO,13.733333,9000.07,21.951366,15.034444,1,405.93,247,BAJO,19.447402,-99.139725

---
---