# Laboratory 1
- Author: Rob

# Imports

#### Python libraries

In [15]:
import sys

import pandas as pd

import re

import unicodedata

#### Acillary modules

In [16]:
%load_ext autoreload
%autoreload 2

from utils.lab1_funcs import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Loading data

Data downloaded from -> https://datos.cdmx.gob.mx/explore/dataset/consumo-agua/export/

In [136]:
df = pd.read_csv("data/consumo-agua.csv")

In [137]:
df

,Geo Point,Geo Shape,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des
0,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.240000,631.00,42.066667,3.050000,3,3.05,57250,ALTO
1,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,115.13,28.782500,7.320000,3,7.32,57253,MEDIO
2,"19.4557195871,-99.1135822797","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,197.96,32.993333,75.030000,3,75.03,57255,POPULAR
3,"19.4596467168,-99.1044693641","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.000000,253.53,84.510000,84.510000,3,253.53,57267,BAJO
4,"19.4741606185,-99.1467497317","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.720000,839.35,76.304545,121.570000,3,243.14,57330,BAJO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,"19.4485642979,-99.1399395353","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",NaN,2019,Cuauhtémoc,20.053112,3930.41,CUAUHTEMOC,GUERRERO,NaN,4286.28,19.307568,13.687308,1,355.87,233,BAJO
71098,"19.4493393649,-99.1457191092","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",71.30,2019,Cuauhtémoc,21.126615,9549.24,CUAUHTEMOC,GUERRERO,35.650001,9796.12,20.976702,13.506923,1,175.59,238,POPULAR
71099,"19.4483923147,-99.1459300721","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",759.16,2019,Cuauhtémoc,27.527778,4707.25,CUAUHTEMOC,GUERRERO,94.894999,5692.81,29.344381,15.093334,1,226.40,239,BAJO
71100,"19.4475868325,-99.1425094385","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",402.65,2019,Cuauhtémoc,30.605000,550.89,CUAUHTEMOC,GUERRERO,100.662498,963.15,41.876087,9.610000,1,9.61,244,BAJO
71101,"19.4474017534,-99.1397251034","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",41.20,2019,Cuauhtémoc,22.507710,8552.94,CUAUHTEMOC,GUERRERO,13.733333,9000.07,21.951366,15.034444,1,405.93,247,BAJO

# Data profiling

## ¿Cuántas variables tenemos?

In [ ]:
count_vars(df)

## ¿Cuántas observaciones tenemos?

In [ ]:
count_obs(df)

## ¿Cuántas observaciones únicas tenemos por variable?

In [ ]:
u_vars = {}
for col in df.columns:
    u_vars[col] = len(df[col].unique())

In [ ]:
u_vars

In [ ]:
df.nunique()

## ¿Cuántas variables numéricas tenemos?

Tenemos 8 variables numéricas

In [138]:
vars_num = [
    "consumo_total_mixto",
    "anio", ## Puede ser también de fecha
    "consumo_prom_dom",
    "consumo_total_dom",
    "consumo_prom_mixto",
    "consumo_total",
    "consumo_prom",
    "bimestre", ## Puede ser categórica ordinal
    "consumo_prom_no_dom",
    "gid"
]

In [7]:
count_num_vars(vars_num)

## ¿Cuántas variables de fecha tenemos?

In [ ]:
date_vars = [
    "anio", ## Puede ser también de fecha
]

In [ ]:
print(f"Tenemos un total de {len(date_vars)} variable(s) de fecha")

## ¿Cuántas variables categóricas tenemos?

In [ ]:
cat_vars = [
    "anio",
    "nomgeo",
    "alcaldia",
    "colonia",
    "bimestre",
    "indice_des",
]

In [ ]:
print(f"Tenemos un total de {len(cat_vars)} variables categóricas")

## ¿Cuántas variables de texto tenemos?

In [ ]:
txt_vars = [
    "nomgeo",
    "alcaldia",
    "colonia",
    "indice_des",
]

In [ ]:
print(f"Tenemos un total de {len(txt_vars)} variables de text")

## Generea el profiling de cada variable

### Numeric data profiling

- [x] Tipo de dato: float, integer
- [x] Número de observaciones
- [x] Mean
- [x] Desviación estándar
- [x] Cuartiles: 25%, 50%, 75%
- [x] Valor máximo
- [x] Valor mínimo
- [x] Número de observaciones únicos
- [x] Top 5 observaciones repetidas
- [x] Número de observaciones con valores faltantes
- [ ] ¿Hay redondeos?

In [142]:
dfx = df.loc[:, vars_num]

dfx

#### Tipo de dato: float, integer

In [125]:
dfx_dtypes = dfx.dtypes.to_frame().T
dfx_dtypes.index = ["dtype"]
dfx_dtypes

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
dtype,float64,int64,float64,float64,float64,float64,float64,int64,float64,int64

#### Descripción de los datos

In [31]:
dfx_desc = dfx.describe()

In [35]:
dfx_desc.loc["min", :] = dfx.min(axis=0)
dfx_desc

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
count,62775.000000,71102.0,66282.000000,66282.000000,62775.000000,71102.000000,71102.000000,71102.000000,71102.000000,71102.000000
mean,174.359929,2019.0,29.132386,1186.263611,50.636234,1695.847222,111.217399,2.006807,126.760172,35551.500000
std,312.663596,0.0,64.565925,2771.038307,130.408673,3555.697457,1069.949262,0.814393,1095.817805,20525.523757
min,0.000000,2019.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,0.000000,2019.0,18.690547,161.635000,0.000000,340.952500,23.010139,1.000000,6.275417,17776.250000
50%,79.940000,2019.0,26.414248,604.185000,33.451667,896.175000,31.693818,2.000000,19.280000,35551.500000
75%,233.320000,2019.0,36.246563,1261.445000,61.216548,1808.902500,45.484917,3.000000,54.186875,53326.750000
max,23404.440000,2019.0,7796.410000,95060.690000,11702.220000,119726.940000,89691.773438,3.000000,89691.773438,71102.000000

#### Conteo de variables numéricas únicas

In [121]:
dfx_ctuniq = dfx.nunique().to_frame().T
dfx_ctuniq.index = ["count_unique"]
dfx_ctuniq

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
count_unique,24339,1,52060,47051,31911,56015,62214,3,37440,71102

#### Número de observaciones con valores faltantes

In [128]:
dfx_missingv = dfx.isnull().sum().to_frame().T
dfx_missingv.index = ["missing_v"]
dfx_missingv

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
missing_v,8327,0,4820,4820,8327,0,0,0,0,0

#### Integración de resultados derivados de la descripción de datos

In [171]:
pd.concat([dfx_dtypes, dfx_ctuniq, dfx_missingv, dfx_desc], axis=0)

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
dtype,float64,int64,float64,float64,float64,float64,float64,int64,float64,int64
count_unique,24339,1,52060,47051,31911,56015,62214,3,37440,71102
missing_v,8327,0,4820,4820,8327,0,0,0,0,0
count,62775,71102,66282,66282,62775,71102,71102,71102,71102,71102
mean,174.36,2019,29.1324,1186.26,50.6362,1695.85,111.217,2.00681,126.76,35551.5
std,312.664,0,64.5659,2771.04,130.409,3555.7,1069.95,0.814393,1095.82,20525.5
min,0,2019,0,0,0,0,0,1,0,1
25%,0,2019,18.6905,161.635,0,340.952,23.0101,1,6.27542,17776.2
50%,79.94,2019,26.4142,604.185,33.4517,896.175,31.6938,2,19.28,35551.5
75%,233.32,2019,36.2466,1261.45,61.2165,1808.9,45.4849,3,54.1869,53326.8
max,23404.4,2019,7796.41,95060.7,11702.2,119727,89691.8,3,89691.8,71102

#### Top 5 observaciones repetidas

In [181]:
## Loop to create dataframe of top variables

tops = 5 #### Number of tops that will be selected
i = 0 #### Counter to start joining dataframes

#### Loop through all variables that will be processed
for col_sel in dfx:
    
    #### Creating dataframe with top entries and count
    dfxx = dfx[col_sel].value_counts().iloc[:tops].to_frame()
    dfxx.reset_index(drop=False, inplace=True)
    dfxx["part"] = round(dfxx[col_sel]/dfx[col_sel].count()*100, 2)
    dfxx.columns = pd.MultiIndex.from_tuples([(col_sel, tag) for tag in ["value", "count", "part_notnull"]])
    
    #### Joining all the variables in one final dataframe 
    if i == 0:
        df_tops = dfxx
        i += 1
    else:
        df_tops = df_tops.join(dfxx)

## Fill empty spaces of resulting dataframe and renaming index entries
df_tops.fillna("-", inplace=True)
df_tops.index = ["top_" + str(i) for i in range(1, df_tops.shape[0] + 1)]
df_tops

      consumo_total_mixto                      anio                      \
                    value  count part_notnull value  count part_notnull
top_1                 0.0  17715        28.22  2019  71102          100
top_2                36.0     74         0.12     -      -            -
top_3                17.7     61         0.10     -      -            -
top_4                36.6     59         0.09     -      -            -
top_5                18.3     54         0.09     -      -            -

      consumo_prom_dom                    consumo_total_dom  ... consumo_prom  \
                 value count part_notnull             value  ... part_notnull
top_1             0.00  9861        14.88              0.00  ...         3.45
top_2             1.22    33         0.05              1.22  ...         0.09
top_3            14.64    23         0.03             10.98  ...         0.08
top_4            10.98    22         0.03             25.62  ...         0.06
top_5            15.25    22         0.03              3.66  ...         0.05

      bimestre                     consumo_prom_no_dom                     \
         value  count part_notnull               value count part_notnull
top_1        2  23942        33.67                0.00  8109        11.40
top_2        3  23822         33.5                1.22   330         0.46
top_3        1  23338        32.82                1.83   290         0.41
top_4        -      -            -                3.05   260         0.37
top_5        -      -            -                4.27   216         0.30

         gid
       value count part_notnull
top_1   2047     1          0.0
top_2   6806     1          0.0
top_3  10896     1          0.0
top_4   8849     1          0.0
top_5  14994     1          0.0

[5 rows x 30 columns]

#### Función para perfil de datos numérico

In [196]:
## Data profiling compacted in function
data_profiling_numeric(df, vars_num)

*********************************
** General description of data **
*********************************

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
dtype,float64,int64,float64,float64,float64,float64,float64,int64,float64,int64
count_unique,24339,1,52060,47051,31911,56015,62214,3,37440,71102
missing_v,8327,0,4820,4820,8327,0,0,0,0,0
count,62775,71102,66282,66282,62775,71102,71102,71102,71102,71102
mean,174.36,2019,29.1324,1186.26,50.6362,1695.85,111.217,2.00681,126.76,35551.5
std,312.664,0,64.5659,2771.04,130.409,3555.7,1069.95,0.814393,1095.82,20525.5
min,0,2019,0,0,0,0,0,1,0,1
25%,0,2019,18.6905,161.635,0,340.952,23.0101,1,6.27542,17776.2
50%,79.94,2019,26.4142,604.185,33.4517,896.175,31.6938,2,19.28,35551.5
75%,233.32,2019,36.2466,1261.45,61.2165,1808.9,45.4849,3,54.1869,53326.8
max,23404.4,2019,7796.41,95060.7,11702.2,119727,89691.8,3,89691.8,71102

None
---------------------------------------------------------------------------
---------------------------------------------------------------------------



****************************
** Top repeated variables **
****************************

      consumo_total_mixto                      anio                      \
                    value  count part_notnull value  count part_notnull
top_1                 0.0  17715        28.22  2019  71102          100
top_2                36.0     74         0.12     -      -            -
top_3                17.7     61         0.10     -      -            -
top_4                36.6     59         0.09     -      -            -
top_5                18.3     54         0.09     -      -            -

      consumo_prom_dom                    consumo_total_dom        \
                 value count part_notnull             value count
top_1             0.00  9861        14.88              0.00  9861
top_2             1.22    33         0.05              1.22    37
top_3            14.64    23         0.03             10.98    21
top_4            10.98    22         0.03             25.62    20
top_5            15.25    22         0.03              3.66    20

                   consumo_prom_mixto                     consumo_total        \
      part_notnull              value  count part_notnull         value count
top_1        14.88               0.00  17715        28.22          0.00  2451
top_2         0.06              36.00     58         0.09          3.05    70
top_3         0.03              29.28     57         0.09          1.22    68
top_4         0.03              36.60     53         0.08          3.66    42
top_5         0.03              23.80     49         0.08          6.71    41

                   consumo_prom                    bimestre         \
      part_notnull        value count part_notnull    value  count
top_1         3.45         0.00  2451         3.45        2  23942
top_2         0.10         1.22    62         0.09        3  23822
top_3         0.10         3.05    55         0.08        1  23338
top_4         0.06         4.27    43         0.06        -      -
top_5         0.06         6.71    39         0.05        -      -

                   consumo_prom_no_dom                       gid        \
      part_notnull               value count part_notnull  value count
top_1        33.67                0.00  8109        11.40   2047     1
top_2         33.5                1.22   330         0.46   6806     1
top_3        32.82                1.83   290         0.41  10896     1
top_4            -                3.05   260         0.37   8849     1
top_5            -                4.27   216         0.30  14994     1


      part_notnull
top_1          0.0
top_2          0.0
top_3          0.0
top_4          0.0
top_5          0.0

None
---------------------------------------------------------------------------
---------------------------------------------------------------------------

### Categoric data profiling

**Profiling: Variables categóricas**

- [x] Número de categorías
- [ ] Valor de las categorías
- [ ] Moda
- [ ] Valores faltantes
- [ ] Número de observaciones con valores faltantes
- [ ] Proporción de observaciones por categoría
- [ ] Top 1, top 2, top 3 (moda 1, moda 2, moda 3)
- [ ] Faltas de ortografía ?

In [ ]:
dfx = df.loc[:, cat_vars]

In [ ]:
dfx

**Número de categorías**

In [ ]:
u_vars_cat = {}
for ent in u_vars:
    if ent in cat_vars:
        u_vars_cat[ent] = u_vars[ent]

u_vars_cat

**Valor de las categorías**

In [ ]:
num_top_5[col] = dfx.groupby([col], as_index=False)["anio"].count().rename(columns={"anio": "Conteo"}).sort_values(by="Conteo", ascending=False).head(5)

In [ ]:
dfx.groupby(["nomgeo"], as_index=False).count()

## Transformar el nombre de las columnas a formato estándar: minúsculas, sin espacios en blanco -cambiar por guiónes bajos-, sin signos de puntuación

In [19]:
df = clean_col_names(df)
list(df.columns)

['geo_point',
 'geo_shape',
 'consumo_total_mixto',
 'anio',
 'nomgeo',
 'consumo_prom_dom',
 'consumo_total_dom',
 'alcaldia',
 'colonia',
 'consumo_prom_mixto',
 'consumo_total',
 'consumo_prom',
 'consumo_prom_no_dom',
 'bimestre',
 'consumo_total_no_dom',
 'gid',
 'indice_des']

## Transformación de variables geoespaciales
- Agregar la variable `latitud` y `longitud` generadas a partir de la column `geo_point`.
- Pasar la variable `latitud` y `longitud` a numérica -si no la tomó como numérica-.
- Eliminar la columna `geo_point` -una vez que creaste la variable `latitud` y `longitud`.
- Eliminar la columna `geo_shape`.
- Cambiar a minúsculas las columnas `alcaldía`, `colonia` e `indice_des`.

---
---