# Laboratory 1
- Author: Rob

# Imports

#### Python libraries

In [3]:
import sys

import pandas as pd

# Loading data

Data downloaded from -> https://datos.cdmx.gob.mx/explore/dataset/consumo-agua/export/

In [4]:
df = pd.read_csv("Data/consumo-agua.csv")

In [5]:
df

,Geo Point,Geo Shape,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des
0,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.240000,631.00,42.066667,3.050000,3,3.05,57250,ALTO
1,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,115.13,28.782500,7.320000,3,7.32,57253,MEDIO
2,"19.4557195871,-99.1135822797","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.000000,197.96,32.993333,75.030000,3,75.03,57255,POPULAR
3,"19.4596467168,-99.1044693641","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.000000,253.53,84.510000,84.510000,3,253.53,57267,BAJO
4,"19.4741606185,-99.1467497317","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.720000,839.35,76.304545,121.570000,3,243.14,57330,BAJO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71097,"19.4485642979,-99.1399395353","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",NaN,2019,Cuauhtémoc,20.053112,3930.41,CUAUHTEMOC,GUERRERO,NaN,4286.28,19.307568,13.687308,1,355.87,233,BAJO
71098,"19.4493393649,-99.1457191092","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",71.30,2019,Cuauhtémoc,21.126615,9549.24,CUAUHTEMOC,GUERRERO,35.650001,9796.12,20.976702,13.506923,1,175.59,238,POPULAR
71099,"19.4483923147,-99.1459300721","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",759.16,2019,Cuauhtémoc,27.527778,4707.25,CUAUHTEMOC,GUERRERO,94.894999,5692.81,29.344381,15.093334,1,226.40,239,BAJO
71100,"19.4475868325,-99.1425094385","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",402.65,2019,Cuauhtémoc,30.605000,550.89,CUAUHTEMOC,GUERRERO,100.662498,963.15,41.876087,9.610000,1,9.61,244,BAJO
71101,"19.4474017534,-99.1397251034","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",41.20,2019,Cuauhtémoc,22.507710,8552.94,CUAUHTEMOC,GUERRERO,13.733333,9000.07,21.951366,15.034444,1,405.93,247,BAJO

# Data profiling

#### 1. ¿Cuántas variables tenemos?

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71102 entries, 0 to 71101
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Geo Point             71102 non-null  object
 1   Geo Shape             71078 non-null  object
 2   consumo_total_mixto   62775 non-null  float64
 3   anio                  71102 non-null  int64
 4   nomgeo                71102 non-null  object
 5   consumo_prom_dom      66282 non-null  float64
 6   consumo_total_dom     66282 non-null  float64
 7   alcaldia              71102 non-null  object
 8   colonia               71102 non-null  object
 9   consumo_prom_mixto    62775 non-null  float64
 10  consumo_total         71102 non-null  float64
 11  consumo_prom          71102 non-null  float64
 12  consumo_prom_no_dom   71102 non-null  float64
 13  bimestre              71102 non-null  int64
 14  consumo_total_no_dom  71102 non-null  float64
 15  gid                   71102 non-null  int64
 16  indice_des            71102 non-null  object
dtypes: float64(8), int64(3), object(6)
memory usage: 9.2+ MB

In [6]:
len(df.columns)

17

#### 2. ¿Cuántas observaciones tenemos?

In [8]:
df.shape[0]

71102

#### 3. ¿Cuántas observaciones únicas tenemos por variable?

In [12]:
u_vars = {}
for col in df.columns:
    u_vars[col] = len(df[col].unique())

In [13]:
u_vars

{'Geo Point': 22930,
 'Geo Shape': 22923,
 'consumo_total_mixto': 24340,
 'anio': 1,
 'nomgeo': 17,
 'consumo_prom_dom': 52061,
 'consumo_total_dom': 47052,
 'alcaldia': 16,
 'colonia': 1340,
 'consumo_prom_mixto': 31912,
 'consumo_total': 56015,
 'consumo_prom': 62214,
 'consumo_prom_no_dom': 37440,
 'bimestre': 3,
 'consumo_total_no_dom': 27336,
 'gid': 71102,
 'indice_des': 4}

In [107]:
df.nunique()

Geo Point               22930
Geo Shape               22922
consumo_total_mixto     24339
anio                        1
nomgeo                     17
consumo_prom_dom        52060
consumo_total_dom       47051
alcaldia                   16
colonia                  1340
consumo_prom_mixto      31911
consumo_total           56015
consumo_prom            62214
consumo_prom_no_dom     37440
bimestre                    3
consumo_total_no_dom    27336
gid                     71102
indice_des                  4
dtype: int64

#### ¿Cuántas variables numéricas tenemos?

Tenemos 8 variables numéricas

In [26]:
num_vars = [
    "consumo_total_mixto",
    "anio", ## Puede ser también de fecha
    "consumo_prom_dom",
    "consumo_total_dom",
    "consumo_prom_mixto",
    "consumo_total",
    "consumo_prom",
    "bimestre", ## Puede ser categórica ordinal
    "consumo_prom_no_dom",
    "gid"
]

In [108]:
print(f"Tenemos un total de {len(num_vars)} variables numéricas")

Tenemos un total de 10 variables numéricas

#### ¿Cuántas variables de fecha tenemos?

In [29]:
date_vars = [
    "anio", ## Puede ser también de fecha
]

In [109]:
print(f"Tenemos un total de {len(date_vars)} variable(s) de fecha")

Tenemos un total de 1 variable(s) de fecha

#### ¿Cuántas variables categóricas tenemos?

In [32]:
cat_vars = [
    "anio",
    "nomgeo",
    "alcaldia",
    "colonia",
    "bimestre",
    "indice_des",
]

In [111]:
print(f"Tenemos un total de {len(cat_vars)} variables categóricas")

Tenemos un total de 6 variables categóricas

#### ¿Cuántas variables de texto tenemos?

In [33]:
txt_vars = [
    "nomgeo",
    "alcaldia",
    "colonia",
    "indice_des",
]

In [112]:
print(f"Tenemos un total de {len(txt_vars)} variables de text")

Tenemos un total de 4 variables de text

#### Generea el profiling de cada variable

**Profiling: variables numéricas**

- [x] Tipo de dato: float, integer
- [x] Número de observaciones
- [x] Mean
- [x] Desviación estándar
- [x] Cuartiles: 25%, 50%, 75%
- [x] Valor máximo
- [x] Valor mínimo
- [x] Número de observaciones únicos
- [x] Top 5 observaciones repetidas
- [x] Número de observaciones con valores faltantes
- [ ] ¿Hay redondeos?

In [113]:
dfx = df.loc[:, num_vars]

In [114]:
dfx

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
0,159.72,2019,42.566364,468.23,53.240000,631.00,42.066667,3,3.050000,57250
1,0.00,2019,35.936667,107.81,0.000000,115.13,28.782500,3,7.320000,57253
2,0.00,2019,24.586000,122.93,0.000000,197.96,32.993333,3,75.030000,57255
3,0.00,2019,0.000000,0.00,0.000000,253.53,84.510000,3,84.510000,57267
4,56.72,2019,67.436250,539.49,56.720000,839.35,76.304545,3,121.570000,57330
...,...,...,...,...,...,...,...,...,...,...
71097,NaN,2019,20.053112,3930.41,NaN,4286.28,19.307568,1,13.687308,233
71098,71.30,2019,21.126615,9549.24,35.650001,9796.12,20.976702,1,13.506923,238
71099,759.16,2019,27.527778,4707.25,94.894999,5692.81,29.344381,1,15.093334,239
71100,402.65,2019,30.605000,550.89,100.662498,963.15,41.876087,1,9.610000,244
71101,41.20,2019,22.507710,8552.94,13.733333,9000.07,21.951366,1,15.034444,247

**Descripción de los datos**

In [115]:
dfx.describe()

,consumo_total_mixto,anio,consumo_prom_dom,consumo_total_dom,consumo_prom_mixto,consumo_total,consumo_prom,bimestre,consumo_prom_no_dom,gid
count,62775.000000,71102.0,66282.000000,66282.000000,62775.000000,71102.000000,71102.000000,71102.000000,71102.000000,71102.000000
mean,174.359929,2019.0,29.132386,1186.263611,50.636234,1695.847222,111.217399,2.006807,126.760172,35551.500000
std,312.663596,0.0,64.565925,2771.038307,130.408673,3555.697457,1069.949262,0.814393,1095.817805,20525.523757
min,0.000000,2019.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,0.000000,2019.0,18.690547,161.635000,0.000000,340.952500,23.010139,1.000000,6.275417,17776.250000
50%,79.940000,2019.0,26.414248,604.185000,33.451667,896.175000,31.693818,2.000000,19.280000,35551.500000
75%,233.320000,2019.0,36.246563,1261.445000,61.216548,1808.902500,45.484917,3.000000,54.186875,53326.750000
max,23404.440000,2019.0,7796.410000,95060.690000,11702.220000,119726.940000,89691.773438,3.000000,89691.773438,71102.000000

**Conteo de variables numéricas únicas**

In [116]:
u_vars_num = {}
for ent in u_vars:
    if ent in num_vars:
        u_vars_num[ent] = u_vars[ent]

u_vars_num

{'consumo_total_mixto': 24340,
 'anio': 1,
 'consumo_prom_dom': 52061,
 'consumo_total_dom': 47052,
 'consumo_prom_mixto': 31912,
 'consumo_total': 56015,
 'consumo_prom': 62214,
 'consumo_prom_no_dom': 37440,
 'bimestre': 3,
 'gid': 71102}

In [117]:
dfx.nunique()

consumo_total_mixto    24339
anio                       1
consumo_prom_dom       52060
consumo_total_dom      47051
consumo_prom_mixto     31911
consumo_total          56015
consumo_prom           62214
bimestre                   3
consumo_prom_no_dom    37440
gid                    71102
dtype: int64

**Top 5 observaciones repetidas**

In [84]:
def top_5(col):
    num_top_5[col] = dfx.groupby([col], as_index=False)["anio"].count().rename(columns={"anio": "Conteo"}).sort_values(by="Conteo", ascending=False).head(5)

In [83]:
num_top_5 = {}
for col in num_vars:
    top_5(col)

In [88]:
num_vars

['consumo_total_mixto',
 'anio',
 'consumo_prom_dom',
 'consumo_total_dom',
 'consumo_prom_mixto',
 'consumo_total',
 'consumo_prom',
 'bimestre',
 'consumo_prom_no_dom',
 'gid']

In [92]:
num_top_5["bimestre"]

   bimestre  Conteo
1         2   23942
2         3   23822
0         1   23338

**Tipo de dato: float, integer**

**Número de observaciones con valores faltantes**

In [96]:
dfx.isnull().sum()

consumo_total_mixto    8327
anio                      0
consumo_prom_dom       4820
consumo_total_dom      4820
consumo_prom_mixto     8327
consumo_total             0
consumo_prom              0
bimestre                  0
consumo_prom_no_dom       0
gid                       0
dtype: int64

**¿Hay redondeos?**

In [100]:
dfx = df.loc[:, cat_vars]

In [101]:
dfx

,anio,nomgeo,alcaldia,colonia,bimestre,indice_des
0,2019,Gustavo A. Madero,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,ALTO
1,2019,Gustavo A. Madero,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,MEDIO
2,2019,Gustavo A. Madero,GUSTAVO A. MADERO,7 DE NOVIEMBRE,3,POPULAR
3,2019,Gustavo A. Madero,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,3,BAJO
4,2019,Azcapotzalco,AZCAPOTZALCO,PROHOGAR,3,BAJO
...,...,...,...,...,...,...
71097,2019,Cuauhtémoc,CUAUHTEMOC,GUERRERO,1,BAJO
71098,2019,Cuauhtémoc,CUAUHTEMOC,GUERRERO,1,POPULAR
71099,2019,Cuauhtémoc,CUAUHTEMOC,GUERRERO,1,BAJO
71100,2019,Cuauhtémoc,CUAUHTEMOC,GUERRERO,1,BAJO
71101,2019,Cuauhtémoc,CUAUHTEMOC,GUERRERO,1,BAJO

**Número de categorías**

In [104]:
u_vars_cat = {}
for ent in u_vars:
    if ent in cat_vars:
        u_vars_cat[ent] = u_vars[ent]

u_vars_cat

{'anio': 1,
 'nomgeo': 17,
 'alcaldia': 16,
 'colonia': 1340,
 'bimestre': 3,
 'indice_des': 4}

**Valor de las categorías**

In [ ]:
num_top_5[col] = dfx.groupby([col], as_index=False)["anio"].count().rename(columns={"anio": "Conteo"}).sort_values(by="Conteo", ascending=False).head(5)

In [106]:
dfx.groupby(["nomgeo"], as_index=False).count()

                    nomgeo   anio  alcaldia  colonia  bimestre  indice_des
0             Azcapotzalco   4216      4216     4216      4216        4216
1            Benito Juárez   6049      6049     6049      6049        6049
2                 Coyoacán   4947      4947     4947      4947        4947
3    Cuajimalpa de Morelos    892       892      892       892         892
4               Cuauhtémoc   7313      7313     7313      7313        7313
5        Gustavo A. Madero  10058     10058    10058     10058       10058
6                Iztacalco   3469      3469     3469      3469        3469
7               Iztapalapa  10515     10515    10515     10515       10515
8   La Magdalena Contreras    955       955      955       955         955
9           Miguel Hidalgo   5110      5110     5110      5110        5110
10              Milpa Alta    650       650      650       650         650
11                  Talpan   2140      2140     2140      2140        2140
12                 Tlalpan   1064      1064     1064      1064        1064
13                 Tláhuac   1955      1955     1955      1955        1955
14     Venustiano Carranza   5179      5179     5179      5179        5179
15              Xochimilco   2450      2450     2450      2450        2450
16          Álvaro Obregón   4140      4140     4140      4140        4140

**Profiling: Variables categóricas**

- [x] Número de categorías
- [ ] Valor de las categorías
- [ ] Moda
- [ ] Valores faltantes
- [ ] Número de observaciones con valores faltantes
- [ ] Proporción de observaciones por categoría
- [ ] Top 1, top 2, top 3 (moda 1, moda 2, moda 3)
- [ ] Faltas de ortografía ?

#### ¿Qué conocemos ahora de este set de datos por variable?